button {
  height: 100px;
  width: auto;
  margin-left: 4px !important;
}
h1 {
  background-color: black;
  color: white;
  text-align: center;
  text-shadow: 0 12px 12px 0 black;
}
.Card {
  margin: 30px;
  border: 10px 10px 10px 10px outset;
  border: 2px solid black;
  float: left;
}
